nav{
    display: flex;
    justify-content: center;
    background-color: bisque;
    width: 100%;
    min-height: 60px;
    align-items: center;
    position: sticky;
    top: 0;
}

nav li{
    padding: 10px;
    margin: 0 20px;
    list-style: none;
    background-color: #ffeeda;
    border-radius: 10px;
}

nav li:hover{
    background-color: rgb(255, 194, 119);
}

nav li a{
    padding: 5px 20px;
    text-decoration: none;
}